<main>
    <div class="container-fluid mt-5">

        <h1 class="text-center">Gasolineras</h1>

        <div class="row mb-4 justify-content-between">
            <div ngbDropdown class="col-12 col-md-3 d-flex">
                <button type="button" class="btn filtro" style="width: 18rem;" id="dropdownCombustiblePrecio" ngbDropdownToggle>
                    Filtrar por Combustible y Precio
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownCombustiblePrecio">
                    <form class="px-4 py-3">
                        <div class="mb-3">
                            <label for="tipoCombustible">Tipo de Combustible</label>
                            <select [(ngModel)]="tipoCombustible" name="tipoCombustible" class="form-control">
                                <option value>Seleccionar</option>
                                <option value="Gasolina 95">Gasolina 95</option>
                                <option value="Gasoleo A">Gasóleo A</option>
                                <option value="Gasoleo B">Gasóleo B</option>
                                <option value="Gasolina 98">Gasolina 98</option>
                                <option value="Hidrogeno">Hidrógeno</option>
                                <option value="Biodiesel">Biodiesel</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="precioMinimo">Precio mínimo</label>
                            <input type="number" [(ngModel)]="precioMinimo" name="precioMinimo" class="form-control tamayoInput"
                                placeholder="Mínimo" />
                        </div>
                        <div class="mb-3">
                            <label for="precioMaximo">Precio máximo</label>
                            <input type="number" [(ngModel)]="precioMax" name="precioMax" class="form-control tamayoInput"
                                placeholder="Máximo" />
                        </div>
                    </form>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btnBuscar" (click)="aplicarFiltroPrecio()">Filtrar</button>
                    </div>
                </div>
            </div>

            <div class="d-flex col-3">
                <mat-form-field>
                    <mat-label>Comunidades autonomas</mat-label>
                    <mat-select (selectionChange)="aplicarFiltroComunidades($event.value)">
                        @for (comunidades of listadoComunidades; track $index){
                        <mat-option value={{comunidades.IDCCAA}}>{{comunidades.CCAA}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-12 col-md-3 d-flex  tamayoInput">
                <mat-form-field class="example-full-width">
                    <input type="text"
                        placeholder="Código postal"
                        aria-label="Number"
                        matInput
                        [formControl]="myControl"
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        @for (option of filteredOptions | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
                <button type="button" class="btn btnBuscar" (click)="aplicarCodigoPostal()">
                    Buscar
                </button>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            @for (gasolinera of listadoGasolineras; track gasolinera.id) {
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">

                <div class="card mb-5" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{gasolinera.rotulo}}</h5>
                        <p class="card-text">
                            {{gasolinera.provincia}}, {{gasolinera.municipio}}, {{gasolinera.localidad}}
                            , {{gasolinera.postalCode}}, {{gasolinera.direccion}}
                        </p>
                        <div class="d-flex gap-5 ms-5">
                            <img width="100px" src="/assets/img/A.png" alt="precio gasoil A">
                            @if (gasolinera.priceGasoleoA == "") {
                            <p class="mt-4">--</p>
                            }@else{
                            <p class="mt-4 tamayoLetra">{{gasolinera.priceGasoleoA}}€</p>
                            }
                        </div>
                        <div class="d-flex gap-5 ms-5">
                            <img width="100px" src="/assets/img/B.png" alt="precio gasoil B">
                            @if (gasolinera.priceGasoleoB == "") {
                            <p class="mt-4">--</p>
                            }@else{
                            <p class="mt-4 tamayoLetra">{{gasolinera.priceGasoleoB}}€</p>
                            }
                        </div>
                        <div class="d-flex gap-5 ms-5">
                            <img width="100px" src="/assets/img/95.png" alt="precio gasolina 95">
                            @if (gasolinera.price95 == "") {
                            <p class="mt-4">--</p>
                            }@else{
                            <p class="mt-4 tamayoLetra">{{gasolinera.price95}}€</p>
                            }
                        </div>
                        <div class="d-flex gap-5 ms-5">
                            <img width="100px" src="/assets/img/98.png" alt="precio gasolina 98">
                            @if (gasolinera.priceGasolina98 == "") {
                            <p class="mt-4">--</p>
                            }@else{
                            <p class="mt-4 tamayoLetra">{{gasolinera.priceGasolina98}}€</p>
                            }
                        </div>
                        <div class="d-flex gap-5 ms-5">
                            <img width="100px" src="/assets/img/H.png" alt="precio hidrógeno">
                            @if (gasolinera.priceHidrogeno == "") {
                            <p class="mt-4">--</p>
                            }@else{
                            <p class="mt-4 tamayoLetra">{{gasolinera.priceHidrogeno}}€</p>
                            }

                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</main>